* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #ADD8E6;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


.card:hover h2{
    opacity: 1;
}

.container {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.riga {
    margin: 0 auto;
}

.card {
    float: left;
    position: relative;
    width: 180px;
    height: 210px;
    background-color: tomato;
    background-image: url("../img/pattern.png");
    background-size: contain;
    margin: 15px 10px;
    border-radius: 10px;
}

.card.visible h2{
    opacity: 1;
}

.card img {
    width: 100%;
}

.image h2 {
    position: relative;
    bottom: 20px;
}

.image {
    opacity: 0;
}

.image:hover {
    opacity: 1;
    background-image: none;
    background-color: white;
    border-radius: 10px;
}

