* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #ADD8E6;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 1px gray;
}

h3 {
    text-align: center;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


.card:hover h2{
    opacity: 1;
}

.container {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.riga {
    margin: 0 auto;
}

.card {
    float: left;
    position: relative;
    width: 180px;
    height: 210px;
    background-color: white;
    background-image: url("../img/pattern.png");
    background-size: contain;
    margin: 15px 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card.visible {
    background-image: none;
}

.card.visible h2{
    opacity: 1;
}

.card.visible:hover h2{
    color: purple;
}

.card img {
    width: 100%;
}

.card h2 {
    position: relative;
    bottom: 15px;
    color: orange;
    text-shadow: 2px 2px 1px gray;
    font-size: 28px;
}

.image {
    opacity: 0;
}

.image:hover {
    opacity: 1;
    background-image: none;
    background-color: white;
    border-radius: 10px;
}

